
@media screen and (min-width: 768px) {
    #menu-toggle {
        display: none; 
    }

    header {
        
        padding: 1rem 2rem 3rem;
    }

    nav ul {
        display: block; 
        flex-direction: row;
        justify-content: center; 
        gap: 20px;
        padding-right: 2rem;
    }

    nav {
        background-color: blue;
        justify-content: center; 
    }
    
    nav a {
        border-bottom: none; 
        padding: 1rem 1.5rem;
    }


    .main-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: start;
    }
    .card:nth-of-type(1) {
        grid-column: 1 / 2;
    }
    
    .card:nth-of-type(2) {
        grid-column: 2 / 3;
    }

    .card:nth-of-type(3) {
        grid-column: 1 / -1; 
        margin-top: 20px;
    }

    #course-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }
}